@use '../mixins/responsive.scss' as *;

.form{
    display: flex;
    flex-direction: column;
    padding-bottom: 87px;

    @include responsive(tablet) {
        width: 445px;
        margin-inline: auto;
    }
    @include responsive(desktop) {
        width: 445px;
        margin-inline: 0;
    }
}

.input2{
    width: 100%;
    height: 56px;
    border: none;
    border-bottom: 1px solid #979797;
    padding: 15px 0 15px 19px;
    background-color: transparent;
    &--bottom{
        margin-bottom: 80px;
    }
}

.input2::placeholder{
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 26px;
    letter-spacing: 0.25px;
    color: white;
    opacity: 50%;
}